@mixin circle($width) {
  width: $width;
  height: $width;
  border-radius: 50%;
}

@mixin cover() {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin size($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centered() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin title {
  @include bernier_regularregular;
  font-size: 63px;
}


@mixin big {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin tablets {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin phones {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin small-phones {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin triangle($width, $dir, $color) {
  width: 0;
  height: 0;
  display: block;
  @if $dir==up {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-bottom: $width solid $color;
  }
  @else if $dir==down {
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $width solid $color;
  }
  @else if $dir==left {
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-right: $width solid $color;
  }
  @else if $dir==right {
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-left: $width solid $color;
  }
}