extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  include ../common/header

  section.about
    +triangles('about')  
    .about__left  
      .about__col
        .about__title
          +title('about', 'about_header', 'Обо мне') 
      .about__col
        .user-about
          +image('user-photo-big.jpg', 'Харламов Дмитрий', 'user-about__img')
        .user-about__title
          +subtitle('about', 'Кто я')
        .user-about__text
          p Я веб разработчик из Минска. Мне 33 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!     
    .about__right
      include ../common/skills 
  section.map
    .map__data
      include ../common/contacts