extends ../main.layout.pug

block variables
  - var title = 'Блог'
  -
    var blogTitle = [
      ['Самое важное в SASS','#article1'],
      ['Приёмы в верстке, без которых не обходится ни один сайт','#article2'],
      ['Самый необходимый набор Gulp плагинов','#article3'],
      ['Почему я выбрал Jade','#article4']
      ]

block scripts
  script(src='blog.bundle.js')

block content
  header.section.header
    .header__blog
      .user
        .user__photo
          +image('user-photo.jpg', 'Dmitry Kharlamov', 'user__photo-img')
        +title('blog', 'blog_header', 'Блог', 'Статьи, которые я написал')
    .header__socials
      +socials('header', socList, '1.6rem', '1.25rem')
    .header__button
      button.button-scroll
        +icon('arrow_down', 'arrow-scroll', '2rem', '1rem')
  .nav-trigger
    a.nav-trigger__link(href="#")
      .nav-trigger__badge
  .nav-mobile
    +nav('nav-mobile__menu', menu)

  .blog
    +triangles('')
    aside.blog__aside
      +nav-blog(0, blogTitle)
    main.blog__content
      article.blog__article#article1
        .post
          h4.post__head Самое важное в sass
          time.post__data 22 ноября 2016
          p.
            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по
            разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной
            деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной
            деятельности играет важную роль в формировании систем массового участия.
          p.
            Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем
            массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает
            широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
            Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
            С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров,
            соответствует насущным потребностям.
      article.blog__article#article2
        .post
          h4.post__head Приёмы в верстке, без которых не обходится ни один сайт
          time.post__data 13 ноября 2016
          p.
            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений
            прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании
            новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p.
            Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании
            систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу
            (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный
            рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет
            за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.