extends ../auth.layout.pug 

block content

  -
    var menuIntro = [
      {
        'name': 'Мои работы',
        'href': './works.html',
      },
      {
        'name': 'Обо мне',
        'href': './about.html',
      },
      {
        'name': 'Блог',
        'href': './blog.html',
      }
    ]

  section.section.intro
    .intro__box
      .intro__box-first
        .intro__content
          +user('')
          +socials('', socList, '30px', '25px')
          +nav('nav', menuIntro)
      .intro__box-second
        .intro__content
          +subtitle('form', 'Авторизуйтесь')
          include ../common/form-auth

    button.btn-flip#flip Авторизоваться
    .footer-copyright
      include ../common/copyright