script(type="text/x-template")#skills-list
  ul.skills-list
    skills-row(
      v-for="type in types"
      :key="type.name"
      :type="type"
      :skills="skills"
    )

script(type="text/x-template")#skills-row
  li.skills-list__item
    .skllls-row
      .skills-row__title {{type.name}}
      ul.skills-block
        skill(
          v-for="skill in skills"
          v-if="skill.category === type.id"
          :key="skill.id"
          :skill="skill"
        )

script(type="text/x-template")#skill
  li.skills-block__item
    .skill(ref="opacity-skill")
      svg(viewBox="0 0 100 100" preserveAspectRatio="none" style="width:110Px; height:110Px").skill__figure
        circle(cx="50" cy="50" r="40").skill__circle.skill__circle--under
        circle(cx="50" cy="50" r="40" ref="color-circle").skill__circle.skill__circle--above
      .skill__title {{ skill.title }}