script(type="text/x-template")#slider
  .slider
    info(
      :work="currentWork"
    )
    display(
      :work="currentWork"
    )
    buttons(
      :works="works"
      :currentIndex="currentIndex"
      @slide="handleSlide"
    )
    

script(type="text/x-template")#slider-info
  .slider__about-container
    .slider__about
      transition-group(name='slide-flip' tag='div').slider__about-title
        .subtitle.subtitle--absolute(:key='work.title')
          h2.subtitle__text {{work.title}}
      transition-group(
        appear
        :css="false"
        @enter="enterHandler"
      )
        .slider__about-desc(:key='work.techs') {{work.techs}}
      a.slider__about-link(:href="work.link" target="_blank")
        +icon('link','slider__about-link-img', '1.25rem', '1.25rem')
        .slider__about-link-text Посмотреть сайт

script(type="text/x-template")#slider-display
  .slider__content
    transition-group(name='slide-appear' tag='div').slider__img-container
        img(:src="'https://webdev-api.loftschool.com/' + work.photo" :key='work.photo').slider__img

script(type="text/x-template")#slider-buttons
  .slider__controls
    .slider__button(@click="slide('prev')")
      transition-group(name="slide-down" tag="div").slider__button-img-container
        .slider__button-img-wrap(:key="getReqImage('prev').photo")
          img(:src="'https://webdev-api.loftschool.com/' + getReqImage('prev').photo", alt="").slider__button-pic
    .slider__button.slider__button--next(@click="slide('next')")
      transition-group(name="slide-up" tag="div").slider__button-img-container
        .slider__button-img-wrap(:key="getReqImage('next').photo")
          img(:src="'https://webdev-api.loftschool.com/' + getReqImage('next').photo", alt="").slider__button-pic