-
  var socList = {
    'vk': 'https://vk.com/',
    'github': 'https://github.com/',
    'in': 'https://www.linkedin.com/'
  }

-
  var menu = [
    {
      'name': 'Мои работы',
      'href': 'works.html',
      'class': []
    },
    {
      'name': 'Обо мне',
      'href': 'about.html',
      'class': []
    },
    {
      'name': 'Блог',
      'href': 'blog.html',
      'class': []
    },
    {
      'name': 'Авторизация',
      'href': 'index.html',
      'class': []
    }
  ]