form.form-contact(action="")
  .form-contact__container
    .form-contact__row
      input.form-contact__input(type="text" name='name' placeholder='Имя')
    .form-contact__row
      input.form-contact__input(type="text" name='email' placeholder='Email')
    .form-contact__row
      textarea.form-contact__textarea(placeholder='Ваше сообщение')
  .form-contact__buttons
    button.btn-form(type='submit') Отправить
    button.btn-form(type='reset') Очистить