header.section.header
  .header__about
    +user('about')
    +icon('portfolio_header', 'header__title')
  .header__socials
    +socials('header-socials', socList)
  .header__button
    button.button-scroll
      +icon('arrow_down', 'arrow-scroll')
.nav-trigger
  a.nav-trigger__link(href="#")
    .nav-trigger__badge
.nav-mobile
  +nav('nav-menu', menu)