.parallax
  .parallax__layer
    picture
      source(media="(min-width: 1000px)" srcset="./assets/images/parallax/Layer1-desktop.png 1x, ./assets/images/parallax/Layer1.png 2x")
      img(src='./assets/images/parallax/Layer1-mobile.png' srcset='./assets/images/parallax/Layer1-desktop.png 2x').parallax__image.parallax__image--back
  .parallax__layer
    picture
      source(media="(min-width: 1000px)" srcset="./assets/images/parallax/Layer2-desktop.png 1x, ./assets/images/parallax/Layer2.png 2x")
      img(src='./assets/images/parallax/Layer2-mobile.png' srcset='./assets/images/parallax/Layer2-desktop.png 2x').parallax__image
  .parallax__layer
    picture
      source(media="(min-width: 1000px)" srcset="./assets/images/parallax/Layer3-desktop.png 1x, ./assets/images/parallax/Layer3.png 2x")
      img(src='./assets/images/parallax/Layer3-mobile.png' srcset='./assets/images/parallax/Layer3-desktop.png 2x').parallax__image
  .parallax__layer
    picture
      source(media="(min-width: 1000px)" srcset="./assets/images/parallax/Layer4-cloud1-desktop.png 1x, ./assets/images/parallax/Layer4-cloud1.png 2x")
      img(src='./assets/images/parallax/Layer4-cloud1-mobile.png' srcset='./assets/images/parallax/Layer4-cloud1-desktop.png 2x').parallax__image.parallax__image--cloud1
  .parallax__layer
    picture
      source(media="(min-width: 1000px)" srcset="./assets/images/parallax/Layer5-desktop.png 1x, ./assets/images/parallax/Layer5.png 2x")
      img(src='./assets/images/parallax/Layer5-mobile.png' srcset='./assets/images/parallax/Layer5-desktop.png 2x').parallax__image
  .parallax__layer
    picture
      source(media="(min-width: 1000px)" srcset="./assets/images/parallax/Layer6-desktop.png 1x, ./assets/images/parallax/Layer6.png 2x")
      img(src='./assets/images/parallax/Layer6-mobile.png' srcset='./assets/images/parallax/Layer6-desktop.png 2x').parallax__image
  .parallax__layer
    picture
      source(media="(min-width: 1000px)" srcset="./assets/images/parallax/Layer7-cloud2-desktop.png 1x, ./assets/images/parallax/Layer7-cloud2.png 2x")
      img(src='./assets/images/parallax/Layer7-cloud2-mobile.png' srcset='./assets/images/parallax/Layer7-cloud2-desktop.png 2x').parallax__image.parallax__image--cloud2
  .parallax__layer
    picture
      source(media="(min-width: 1000px)" srcset="./assets/images/parallax/Layer8-desktop.png 1x, ./assets/images/parallax/Layer8.png 2x")
      img(src='./assets/images/parallax/Layer8-mobile.png' srcset='./assets/images/parallax/Layer8-desktop.png 2x').parallax__image
  .parallax__layer
    picture
      source(media="(min-width: 1000px)" srcset="./assets/images/parallax/Layer9-desktop.png 1x, ./assets/images/parallax/Layer9.png 2x")
      img(src='./assets/images/parallax/Layer9-mobile.png' srcset='./assets/images/parallax/Layer9-desktop.png 2x').parallax__image
  .parallax__layer
    picture
      source(media="(min-width: 1000px)" srcset="./assets/images/parallax/Layer10-cloud3-desktop.png 1x, ./assets/images/parallax/Layer10-cloud3.png 2x")
      img(src='./assets/images/parallax/Layer10-cloud3-mobile.png' srcset='./assets/images/parallax/Layer10-cloud3-desktop.png 2x').parallax__image.parallax__image--cloud3
