.parallax
  .parallax__layer
    +image('parallax/Layer1.png', '', 'parallax__image parallax__image--back')
  .parallax__layer
    +image('parallax/Layer2.png', '', 'parallax__image')
  .parallax__layer
    +image('parallax/Layer3.png', '', 'parallax__image')
  .parallax__layer
    +image('parallax/Layer4-cloud1.png', '', 'parallax__image parallax__image--cloud1')
  .parallax__layer
    +image('parallax/Layer5.png', '', 'parallax__image')
  .parallax__layer
    +image('parallax/Layer6.png', '', 'parallax__image')
  .parallax__layer
    +image('parallax/Layer7-cloud2.png', '', 'parallax__image parallax__image--cloud2')
  .parallax__layer
    +image('parallax/Layer8.png', '', 'parallax__image')
  .parallax__layer
    +image('parallax/Layer9.png', '', 'parallax__image')
  .parallax__layer
    +image('parallax/Layer10-cloud3.png', '', 'parallax__image parallax__image--cloud3')