- 
  var skills = [
    {
      title: 'Frontend',
      skill:  ['HTML5', 'CSS3', 'jQuery', 'JavaScript'] 
    },{
      title: 'Backend',
      skill: ['PHP', 'mySQL', 'Node.js & npm', 'Mongo.db',]  
    },{
      title: 'Workflow',
      skill: ['Git', 'Gulp', 'Webpak', 'Terminal',] 
    }
  ]

.skills
  .skills__title
    +subtitle('skills', 'Чем я могу быть','полезен')
  .skills__text Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
  ul.skills__list
    each item in skills 
      li.skills__item
        .skills__item-title #{item.title}
        ul.skills__section
          each tech in item.skill 
            li.skills__img
              .skills__img-title #{tech}
              figure.circle(data-percents='70')
                svg(viewBox='0 0 110 110' preserveAspectRatio="none").circle__figure
                  circle(r="45" cx="50%" cy="50%").circle__under
                  circle(r="45" cx="50%" cy="50%").circle__above