.slider
  .slider__about
    .slider__about-title     
      +subtitle('slider', 'Сайт школы онлайн', 'Образования')       
    .slider__about-desc HTML, CSS, JAVASCRIPT
    a.slider__about-link(href='#' target="_blank")
      +icon('link','slider__about-link-img', '20px', '20px')
      .slider__about-link-text Посмотреть сайт
  .slider__content
    +image('slider/2.png', '', 'slider__img')
  .slider__controls
    a.slider__button-down(href="#")
      +icon('portf_arrow_down', 'slider__button-icon', '32px', '16px')
      ul.slider__button-list
        li.slider__button-item
          +image('slider/3.jpg', '', 'slider__img')
    a.slider__button-up(href="#")
      +icon('portf_arrow_up', 'slider__button-icon', '32px', '16px')
      ul.slider__button-list
        li.slider__button-item   
          +image('slider/1.jpg', '', 'slider__img')