.circle__figure {
  width: 120px;
  height: 120px;
  transform: rotate(-90deg);
}

.circle__above,
.circle__under {
  stroke-width: 20;
  fill: transparent;
}

.circle__under {
  stroke: #dfdcd5;
}

.circle__above {
  stroke: $greenLight;
  stroke-dasharray: 282.3;
  stroke-dashoffset: 100;
  transition: stroke-dasharray 1s;
}