.header {
  position: relative;
  height: 100vh;
  min-height: 650px;
}

.header__bg {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  height: 1270px;
  overflow: hidden;
}

.header__bg-img {
  display: block;
}

.header__title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.header__title-svg {
  fill: rgba(white, .06);
  width: 100%;
}

.header__about {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
}
.header__socials {
  position: absolute;
  top: 32px;
  left: 32px;
}

.header__button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  z-index: 9;
}

