.map {
  background-image: url('./assets/images/bg/map-bg.jpg');
  @include cover;
  height: 100vh;
  position: relative;
}

.map__data {
  @include centered;
  z-index: 1;

  @include phones {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
  }
}