.reviews {
  display: flex;
  max-width: 780px;

  @include tablets {
    max-width: 100%;
    margin: 0 20px;
  }

  @include phones {
    flex-direction: column;
  }

  &__item {
    margin-right: 20px;
    margin-top: 45px;
    margin-bottom: 20px;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    position: absolute;
    background-image: url('./assets/images/svg-icon/quote-left.svg');
    width: 27px;
    height: 27px;
    top: -45px;
    left: 0;
    opacity: .2;

    @include phones {
      left: 50%;
    }
  }

  &__text {
    margin-bottom: 20px;
  }

  &__user {
    display: flex;
    align-items: center;
  }
}

.reviews__photo {
  @include circle(5rem);
  @include center;
  overflow: hidden;
  margin-right: 20px;
  flex-shrink: 0;
}

.reviews__img {
  max-width: 100%;
}

.reviews__block {
  color: $greenLight;
}

.reviews__name {
  font-weight: 700;
}

