.socials {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 28px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover {

      .socials__icon {
        fill: $green;
      }
    }
  }

  &__icon {
    width: 30px;
    height: 25px;
    fill: $greenLight;
    transition: .3s;
  }
}

.socials--header {

  & .socials__link {

    &:hover {

      .socials__icon {
        fill: white;
      }
    }
  }
}

.socials--footer {

  & .socials__link {
  border: 1px solid white;
  border-radius: 50%;
  transition: .3s;

    &:hover {
      background-color: white;

      .socials__icon {
        fill: rgba($grey, .85);
      }
    }
  }
}

.socials--footer,
.socials--header {

  & .socials__icon {
  width: 25px;
  height: 20px;
  fill: rgba(white, .5);
  }
}