.subtitle {
  display: flex;
  flex-direction: column;
  color: $greyDark;
  font-family: 'bernier';
  font-size: 35px;
  text-transform: uppercase;
  @include center;  

  &.subtitle--form {
    position: relative;
  }
}

.subtitle__text {
  font-size: 35px;
  display: flex;
  align-items: center;
  text-align: center;

  &::before,
  &::after {
    content: '';
    margin: 0 15px;
    width: 22px;
    height: 5px;
    background-color: $greyLight;
    transition: .3s;
  }
}