.user-about {
  max-width: 450px;  
}

.user-about__img {
  margin-bottom: 35px;
  max-width: 100%;
}

.user-about__title {
  margin-bottom: 35px;
}

.user-about__text {
  line-height: 1.6;

  p {
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}